doctype html 
html 
    head 
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/board.css")
        title= board 
    body 
        div(id="loader")
            div
        div(class="home_title")
            a(href="/") FLAT UI COLORS 2
            h1(class="home_title-second") 
                a(href="/board") board
        div(class="board_wrap")
            div(class="board_box")
                if description  
                    div(class="board_button")
                        div(class="button_wrap")
                            a(href="/board/"+description.id+"/update") Update 
                        div(class="button_wrap")
                            a(href="/board/"+description.id+"/delete") Delete 
                    div(class="board_top")
                        ul
                            li title
                            li description 
                            li user 
                            li created
                    ul(class="board_script")
                        li= description.title 
                        li= description.description
                        li= description.name 
                        li= description.created
                else     
                    div(class="board_button")
                        div(class="button_wrap")
                            a(href="/add") Add 
                    div(class="board_top")
                        ul
                            li #
                            li title 
                            li user 
                    div(class="board_bottom")
                        ul
                            each title in titles
                                a(href="/board/"+title.id class="board_bottom-list")
                                    li= title.id 
                                    li= title.title 
                                    li= title.name 
                    if description  
                        li= description.title 
                        li= description.description
                        li= description.name 
                        li= description.created
                        