doctype html 
html 
    head 
        meta(charset='utf-8')
        meta(http-equiv="page-enter" content="blendTrans(duration=0.3)")
        meta(http-equiv="page-exit" content="blendTrans(duration=0.3)")
        link(rel="stylesheet", href="/css/zoom.css")
        
        title= hello 
    body
        div(id="loader")
            div
        div(id="clicked_color")
            div
        div(class="zoom_btn") 
            a(href="/")= "back"
            a(href="/")= "navbar"
            a(href="/")= "sound"  
        div(class="color_parent")
            -for(var i = 0;i < list.length;i++)
                div(style=`background-color:${list[i]['color']}` value=`${list[i]['color']}` class="color_child" data-clipboard-text=`${list[i]['color']}`)  
                    a(class="copy_btn")
                        p= "COPY"
                    p= list[i]["name"]
        a(class="zoom_bottom-txt" href="https://github.com/jojaeng2")
            p= "Made By Jojaeng2🥶"
    script(src='/js/text.js') 
    script(src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js")